<div class="card">
  <img class="dss-header__logo" src="/dss-assets/img/salut-logotip-default.svg">
  Shell running Angular 
  <dss-badge text="12345" size="lg" state="danger-high">

    <dss-switch size="lg" label="Switch"></dss-switch>
 
<dss-switch size="lg" label="Switch" checked></dss-switch>
 
<dss-switch size="lg" label="Switch" disabled></dss-switch>
 
<dss-switch size="lg" label="Switch" checked disabled></dss-switch>
              
  </dss-badge>
  <p>
    <a routerLink="/">Index</a>
  </p>
  <p>
    <a routerLink="/mfe1/my-component"
      >Load REmote MFE1</a
    >
  </p>
  <p>
    <a routerLink="/mfe3/my-component"
      >Load REmote MFE3</a
    >
  </p> 
  <router-outlet></router-outlet>
</div>