<dss-avatar-mfe size="md"></dss-avatar-mfe>
<img class="dss-header__logo" src="/dss-assets/img/salut-logotip-default.svg">
<p>REMOTE MFE1 NG APP</p>
<dss-badge text="12345" size="lg" state="danger-high">
              
</dss-badge>

<dss-switch-mfe size="lg" label="Switch"></dss-switch-mfe>
 
<dss-switch-mfe size="lg" label="Switch" checked></dss-switch-mfe>
 
<dss-switch-mfe size="lg" label="Switch" disabled></dss-switch-mfe>
 
<dss-switch-mfe size="lg" label="Switch" checked disabled></dss-switch-mfe>